
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>LRSearch</title>

    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <script src="static/js/jquery-3.2.1.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
  </head>

  <body>

    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item active" href="#">Search</a>
          <a class="blog-nav-item" href="#">Powered</a>
          <a class="blog-nav-item" href="#">Contact</a>
          <!-- <a class="blog-nav-item" href="#">New hires</a>
          <a class="blog-nav-item" href="#">About</a> -->
        </nav>
      </div>
    </div>

    <div class="container">

      <div class="blog-header">
        <h2 class="blog-title">吉林八宝煤矿“3•29”瓦斯爆炸 事故应急救援案例</h2>
        <p class="lead blog-description">
                <span class="label label-warning">瓦斯爆炸</span>
                <span class="label label-warning">重大事故</span>
                <span class="label label-warning">应急救援</span>
                <span class="label label-warning">案例</span>
            </p>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h3 class="blog-post-title">数据来源信息</h3>

            <table class="table table-bordered table-striped">
                    <tbody>
                      <tr>
                        <td>事故编号</td>
                        <td>59e418c92f773270ae125fa0</td>
                        <td>事故ID</td>
                        <td>100</td>
                      </tr>
                      
                      <tr>
                        <td>数据来源</td>
                        <td>煤矿安全生产网</td>
                        <td>源URL</td>
                        <td><a href="http://www.mkaq.org/html/2008/09/20/23229.shtml">http://www.mkaq.org/html/2008/09/20/23229.shtml</a></td>
                      </tr>
                      <tr>
                        <td>发表时间</td>
                        <td>2008-09-20</td>
                        <td>生成状态</td>
                        <td>已提取，未提取</td>
                      </tr>
                    </tbody>
                  </table>
          </div><!-- /.blog-post -->
        
          <div class="blog-post">
                <h3 class="blog-post-title">事故基本信息</h3>
                <table class="table table-bordered table-striped">
                        <tbody>
                          <tr>
                            <td>事故标题</td>
                            <td>吉林八宝煤矿“3•29”瓦斯爆炸 事故应急救援案例</td>
                            <td>事故时间</td>
                            <td>1990年1月25日6时</td>
                          </tr>
                          
                          <tr>
                            <td>事故地点</td>
                            <td>青海省海北藏族自治州门源回族自治县境内</td>
                            <td>事故类型</td>
                            <td>透水事故</td>
                          </tr>
                          <tr>
                            <td>事故性质</td>
                            <td>责任事故</td>
                            <td>事故级别</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>受伤人数</td>
                            <td>6</td>
                            <td>死亡人数</td>
                            <td>15</td>
                        </tr>
                        </tbody>
                      </table>
              </div><!-- /.blog-post -->

              <div class="blog-post">
                    <h3 class="blog-post-title">矿井基本信息</h3>
                    <table class="table table-bordered table-striped">
                            <tbody>
                              <tr>
                                <td>矿井名称</td>
                                <td>铁迈煤矿</td>
                                <td>企业性质</td>
                                <td>国营煤矿</td>
                              </tr>
                              
                              <tr>
                                <td>煤矿级别</td>
                                <td>232万吨</td>
                                <td>煤矿类型</td>
                                <td>地下煤矿</td>
                              </tr>
                              <tr>
                                <td>证件情况</td>
                                <td></td>
                                <td>审批情况</td>
                                <td></td>
                              </tr>
                            </tbody>
                          </table>
                  </div><!-- /.blog-post -->
                  <div class="blog-post">
                        <h3 class="blog-post-title">事故过程</h3>
                        <table class="table table-bordered table-striped">
                                <thead>
                                  <tr>
                                    <th>序列号</th>
                                    <th>时间节点</th>
                                    <th>过程描述</th>
                                    
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th scope="row">1</th>
                                    <td>1990年1月25日6时</td>
                                    <td>新立煤井上山掘到100米处，承包此工程的青海省大通县新庄乡农民承包队早班民工陆续下井作业。24日夜班班长向早班副班长交待了因工作面潮湿放炮不响，没有完成进度等情况。</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">2</th>
                                    <td>25日8时</td>
                                    <td>早班放一炮后，又打了3个炮眼。9时许，铁迈煤矿生产科副科长来到工作面挂中线，检查上山方位。此时掘进头最右边刚好打好的一个炮眼出水。挂完中线见炮眼继续淌水，约10时升井到副矿长家汇报井下情况未遇，便返回宿舍。此时听到有人喊：“井下出水了”。当时井下作业的共有21人，有6人脱险，其他15人死亡，直接经济损失45万元。</td>
                                    
                                  </tr>
                                 
                                </tbody>
                              </table>
                      </div><!-- /.blog-post -->
                      <div class="blog-post">
                            <h3 class="blog-post-title">原因分析</h3>
                            <table class="table table-bordered table-striped">
                                    <thead>
                                      <tr>
                                        <th>序列号</th>                            
                                        <th>原因描述</th>
                                        <th>原因类别</th>
                                        <th>关键词提取</th> 
                                        <th>知识抽取</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <th scope="row">1</th>
                                        <td>施工建井无设计方案。铁迈煤矿新井仅凭一个“立井开发方案的构思和工程、设备概况明细表”就开工建井。从立井建设准备到开工，仅凭几位技术人员商议研究勾画示意图就确定开拓方式和井口位置</td>
                                        <td>人为原因</td>
                                        <td>无设计方案</td>
                                        <td>未提取</td>
                                      </tr>
                                      <tr>
                                            <th scope="row">2</th>
                                            <td>技术审批把关不严。铁迈煤矿在新井开工4个月后才向州工商局报了一个“关于申请新井施工方案的报告”，而海北州工商局在无设计文件；无图纸的情况下于1989年9月7日做了同意的批复。</td>
                                            <td>人为原因</td>
                                            <td>把关不严</td>
                                            <td>未提取</td>
                                          </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>没有慎重考虑地质报告的意见，凭经验搞决策，见到煤层后急于打上山，造成巷道方位失控，掘透积水区。</td>
                                        <td>人为原因</td>
                                        <td>凭经验搞决策</td>
                                        <td>未提取</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">4</th>
                                            <td>现场管理不严，职工技术素质低，遇到险情不能果断停工撤人。24日夜班因矿方无人跟班，现场安全生产管理检查工作出现空档。包工队的农民不懂安全技术常识，对掘进头出现的淋水、放炮困难、瓦斯减少等透水预兆没有向矿方反映。25日早班矿方跟班发现掘进头炮眼内淌水的危险信号后，没有采取果断措施停止作业、撤出人员。</td>
                                            <td>人为原因</td>
                                            <td>管理不严</td>
                                            <td>未提取</td>
                                        </tr>
                                    </tbody>
                                  </table>
                          </div><!-- /.blog-post -->
                  


                          <div class="blog-post">
                                <h3 class="blog-post-title table-striped">处置措施</h3>
                                <table class="table table-bordered">
                                        <thead>
                                          <tr>
                                            <th>序列号</th>                            
                                            <th>措施描述</th>
                                           
                                            <th>关键词提取</th> 
                                            <th>知识抽取</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <th scope="row">1</th>
                                            <td>矿生产科副科长是新井施工的矿方负责人，在下井检查时发现炮眼淌水透水征兆时，没有采取停止作业，紧急撤人的果断措施，贻误了时机，是事故的直接责任者。给予开除公职，留矿察看1年的处分。</td>
                                            <td>无</td>
                                            <td>未提取</td>
                                          </tr>
                                        
                                        </tbody>
                                      </table>
                              </div><!-- /.blog-post -->



                              <div class="blog-post">
                                    <h3 class="blog-post-title table-striped">事故反思</h3>
                                    <table class="table table-bordered">
                                            <thead>
                                              <tr>
                                                <th>序列号</th>                            
                                                <th>反思描述</th>
                                               
                                                <th>关键词提取</th> 
                                                <th>知识抽取</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr>
                                                <th scope="row">1</th>
                                                <td>无</td>
                                                <td>无</td>
                                                <td>未提取</td>
                                              </tr>
                                            
                                            </tbody>
                                          </table>
                                  </div>
          <nav>
            <ul class="pager">
              <li><a href="#">Previous</a></li>
              <li><a href="#">Next</a></li>
            </ul>
          </nav>

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          

          <div class="sidebar-module">
            <h4>相似案例推荐</h4>
            <ol class="list-unstyled">
              <li><a href="#">贵州思南县天池煤矿“12.12”特别重大透水事故分析</a></li>
              <li><a href="#">广西南丹“7·17”特大透水事故调查报告</a></li>
              <li><a href="#">贵州天池煤矿2004.12.12特别重大透水事故案例分析</a></li>
              <li><a href="#">吉林省蛟河市丰兴煤矿“4.6”重大透水事故案例分析</a></li>
              <li><a href="#">上饶市铅山县开源煤矿“4.4”透水事故案例分析</a></li>
              <li><a href="#">山西陆合集团基安达煤业“8·1”透水事故案例分析</a></li>
              
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>事故画像-同类案例分析</h4>
            <ol class="list-unstyled">
              <li><a href="#">知识图谱分析</a></li>
              <li><a href="#">...</a></li>
              <li><a href="#">...</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

    <footer class="blog-footer">
      <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>

  </body>
</html>
